<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
      <li class="nav-item">
        <div class="d-flex sidebar-profile" style="margin-left: 30px">
          <div class="sidebar-profile-image">
            <span class="sidebar-status-indicator"></span>
          </div>
          <div class="sidebar-profile-name">
            <p class="sidebar-name">
              @if (Auth::user()->id_skpd > 888)
                {{ Auth::user()->nama }}
              @else
                {{ Auth::user()->Skpd->nama_skpd   }}
              @endif
            </p>
            <p class="sidebar-designation">
              Welcome
            </p>
          </div>
        </div>
        <p class="sidebar-menu-title">Dash menu</p>
      </li>
      <li @if (Request::segment(1) == 'home') class="nav-item active" @else class="nav-item" @endif>
        <a class="nav-link" href="{{ route('home') }}">
          <i class="typcn typcn-device-desktop menu-icon"></i>
          <span class="menu-title">Dashboard</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="collapse" href="#bab1" aria-expanded="false" aria-controls="bab1">
          <i class="typcn typcn-chart-pie-outline menu-icon"></i>
          <span class="menu-title">Input Bab I</span>
          <i class="menu-arrow"></i>
        </a>
        <div class="collapse" id="bab1">
          <ul class="nav flex-column sub-menu">
            <li class="nav-item"> <a class="nav-link" href="{{ route('opd-indikator') }}">Indikator Kinerja</a></li>
            <li class="nav-item"> <a class="nav-link" href="{{ route('opd-capaian') }}">Capaian Kinerja</a></li>
          </ul>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="collapse" href="#form-elements" aria-expanded="false" aria-controls="form-elements">
          <i class="typcn typcn-film menu-icon"></i>
          <span class="menu-title">Input Bab II</span>
          <i class="menu-arrow"></i>
        </a>
        <div class="collapse" id="form-elements">
          <ul class="nav flex-column sub-menu">
            <li class="nav-item"><a class="nav-link" href="{{ route('opd-pks') }}">Program/Kegiatan/Sub</a></li>
          </ul>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="collapse" href="#charts" aria-expanded="false" aria-controls="charts">
          <i class="typcn typcn-chart-pie-outline menu-icon"></i>
          <span class="menu-title">Input Bab III</span>
          <i class="menu-arrow"></i>
        </a>
        <div class="collapse" id="charts">
          <ul class="nav flex-column sub-menu">
            <li class="nav-item"> <a class="nav-link" href="{{ route('urusan') }}">Master Urusan</a></li>
            {{-- <li class="nav-item"> <a class="nav-link" href="{{ route('opd-suburusan') }}">Sub Urusan</a></li>
            <li class="nav-item"> <a class="nav-link" href="{{ route('opd-indikatorutama') }}">Indikator Utama</a></li>
            <li class="nav-item"> <a class="nav-link" href="{{ route('opd-capaianutama') }}">Capaian Kinerja Utama</a></li> --}}
          </ul>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="collapse" href="#tables" aria-expanded="false" aria-controls="tables">
          <i class="typcn typcn-th-small-outline menu-icon"></i>
          <span class="menu-title">Input Bab IV</span>
          <i class="menu-arrow"></i>
        </a>
        <div class="collapse" id="tables">
          <ul class="nav flex-column sub-menu">
            <li class="nav-item"> <a class="nav-link" href="{{ route('penutup-opd') }}">Penutup OPD</a></li>
            <li class="nav-item"> <a class="nav-link" href="{{ route('penutup-admin') }}">Penutup Admin</a></li>
          </ul>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="collapse" href="#icons" aria-expanded="false" aria-controls="icons">
          <i class="typcn typcn-compass menu-icon"></i>
          <span class="menu-title">Laporan OPD</span>
          <i class="menu-arrow"></i>
        </a>
        <div class="collapse" id="icons">
          <ul class="nav flex-column sub-menu">
            <li class="nav-item"> <a class="nav-link" href="{{ route('printcover') }}">Cover</a></li>
            <li class="nav-item"> <a class="nav-link" href="{{ route('opd', 'katapengantar') }}">Kata Pengantar</a></li>
            {{-- <li class="nav-item"> <a class="nav-link" href="{{ route('katapengantar') }}">Kata Pengantar</a></li> --}}
            <li class="nav-item"> <a class="nav-link" href="{{ route('opd', 'bab1') }}">Bab Satu</a></li>
            <li class="nav-item"> <a class="nav-link" href="{{ route('opd', 'bab2') }}">Bab Dua</a></li>
            <li class="nav-item"> <a class="nav-link" href="{{ route('opd', 'bab3') }}">Bab Tiga</a></li>
            <li class="nav-item"> <a class="nav-link" href="{{ route('opd', 'bab4') }}">Bab Empat</a></li>
          </ul>
        </div>
      </li>
    </ul>
  </nav>